.waterfall {
  background-image: linear-gradient(#61B3FD, #BDE0FE);
  width: 877px;
  margin: auto;
}
.timeline-thought {
  height: 242px;
  display: grid;
}
.thought-container {
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  width: 669px;
  height: 211px;
  justify-self: center;
  text-align: left;
  padding-top: 20px;
}
.username {
  position: relative;
  left: 0;
}
.add {
  /* position: relative;
  right: 0; */
}

@media only screen and (max-width: 1300px) {
  .waterfall {
    background-image: linear-gradient(#61B3FD, #db0000);
  }
}
@media only screen and (max-width: 1000px){
  .waterfall {
    background-image: linear-gradient(#61B3FD, #BDE0FE);
  }
}