* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
input {
  padding-left: 20px;
  font-size: 20px;
}
a,
button {
  color: #ffffff;
}
button:focus {
  outline: none;
}
.layout-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
}
.top-nav,
.mid-nav,
.bot-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.top-nav {
  background-color: #CDB4DB;
  height: 73px;
  font-size: 50px;
}
.mid-nav {
  background-color: #FFAFCC;
  height: 33px;
  font-size: 20px;
}
.bot-nav {
  background-color: #FFC8DD;
  height: 41px;
  font-size: 37px;
}
.sides {
  background-color: #88FFBF;
}
.t-where {
  font-size: 35px;
  align-self: flex-end;
  text-align: center;
  color: #ffffff;
}
.t-thoughts,
.t-flows {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}
.t-thoughts {
  align-self: center;
}
.t-flows {
  align-self: flex-start;
}

.t-sign-in-up {
  font-size: 26px;
  align-self: center;
  text-align: center;
  color: #ffffff;
}
label {
  font-size: 15px;
  align-self: center;
  text-align: center;
  color: #ffffff;
}
.block-one,
.block-two,
.block-three,
.block-four {
  min-height: 242px;
  display: grid;
}
.block-one {
  background-color: #61B3FD;
}
.block-two {
  background-color: #7FC0FC;
  
}
.block-three {
  background-color: #A2D2FF;
}
.block-four {
  background-color: #BDE0FE;
}
.green-button,
.pink-button {
  height: 54px;
  width: 155px;
  font-size: 25px;
  font-weight: 400;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.green-button {
  border: none;
  background-color: #00FECE;
  align-self: flex-end;
  margin-bottom: 15px;
}
.green-button:hover {
  cursor: pointer;
}
.pink-button {
  background-color: #FFAFCC;
}
footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  background-color: #A2D2FF;
  font-size: 12px;
  height: 167px;
}
.gh-logo {
  display: flex;
}
.li-logo {
  display: flex;
}
.logout {
  position: absolute;
  right: 50px;
  font-size: 20px;
}
.logout:hover {
  cursor: pointer;
}
.delete {
  display: inline-block;

}
.delete:hover {
  cursor: pointer;
}
