.layout-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  
}
.top-nav {
  background-color: #CDB4DB;
  height: 73px;
  font-size: 50px;
}
.mid-nav {
  background-color: #FFAFCC;
  height: 33px;
  font-size: 20px;
}
.bot-nav {
  background-color: #FFC8DD;
  height: 41px;
  font-size: 37px;
}
.sides-bg {
  background-color: #88FFBF;
}
.block-one,
.block-two,
.block-three {
  height: 242px;
}
.block-one {
  background-color: #61B3FD;
}
.block-two {
  background-color: #7FC0FC;
}
.block-three {
  background-color: #A2D2FF;
}
.block-four {
  background-color: #BDE0FE;
  min-height: 242px;
}
.green-button,
.pink-button {
  height: 54px;
  width: 155px;
}
.green-button {
  background-color: #88FFBF;
}
.pink-button {
  background-color: #FFAFCC;
}
footer {
  background-color: #A2D2FF;
}
